# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

progress.txt

__pycache__/

absclust_search_cache.pkl
embedding_cache.pkl
backend/legacy_backend/openalex_completed_files.txt

credentials.json
openai_credentials.json
*.env

# Django
db.sqlite3
static_root/
umap_with_progress_callback-add_progress_callback_0.5.3.zip

# Pinegrow
_pgbackup/

notes.md
list_view_template.json

.venv/
backend/pdferret.log

swag_https_proxy_config/
!swag_https_proxy_config/nginx/site-confs/default.conf

trace_*.json

docker-compose*.override.yaml
*cookies.pkl
data/*

scripts_and_examples/generated_data/*
cpython*
