[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weaviate-client = "*"
flask = "*"
flask-cors = "*"
torch = "*"
transformers = "*"
scikit-learn = "*"
plotly = "*"
pandas = "*"
hdbscan = "*"
umap-learn = "*"
typesense = "*"
openai = "*"
spacy = "*"
gensim = "*"
django = "*"
django-extensions = "*"
djangoql = "*"
django-simple-history = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-social-oauth2 = "*"
social-auth-app-django = "*"
django-cors-headers = "*"
django-jazzmin = "*"
qdrant-client = "*"
opensearch-py = "*"
django-jsonsuit = "*"
pillow = "*"
sentence-transformers = "*"
django-object-actions = "*"
cbor2 = "*"
diskcache = "*"
django-import-export = "*"
scipdf-parser = "*"
beautifulsoup4 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
