[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
torch = "*"
transformers = "*"
scikit-learn = "*"
hdbscan = "*"
openai = "*"
spacy = "*"
gensim = "*"
django = "*"
django-extensions = "*"
djangoql = "*"
django-simple-history = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-social-oauth2 = "*"
social-auth-app-django = "*"
django-cors-headers = "*"
django-jazzmin = "*"
qdrant-client = "*"
opensearch-py = "*"
django-jsonsuit = "*"
pillow = "*"
sentence-transformers = "*"
django-object-actions = "*"
cbor2 = "*"
diskcache = "*"
django-import-export = "*"
beautifulsoup4 = "*"
psycopg2-binary = "*"
scipdf = {git = "https://github.com/Trel725/scipdf_parser"}
umap-learn = {git = "https://github.com/luminosuslight/umap_with_progress_callback.git"}
pypdfium2 = "*"
unstructured-client = "*"
cohere = "*"
scipy = "==1.10.1"

[dev-packages]
ipykernel = "*"
pandas = "*"
plotly = "*"

[requires]
python_version = "3.11"
