[Unit]
Description=Dozzle Log Server Docker Compose
Requires=docker.service
After=network.target docker.service

[Service]
User=tim
Group=tim
WorkingDirectory=/home/absclust_user/dozzle_docker_logs
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure

[Install]
WantedBy=multi-user.target
