[Unit]
Description=PDferret Docker Compose
Requires=docker.service
After=network.target docker.service

[Service]
User=absclust_user
Group=absclust_user
WorkingDirectory=/home/absclust_user/projects/pdferret
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure

[Install]
WantedBy=multi-user.target
